<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <h1>Posts</h1>
    <%if(locals.user){%>
        <a href="/profile/<%=locals.user.id%>">Home</a>
    <%}else{%>
        <a href="/">Home</a>
    <%}%>

    <h3>Write What is on Your Mind</h3>

    <%if(locals.user){%>
        <form action="/posts/add-post" method="post">
            <textarea name="content" cols="30" rows="5" placeholder="Your Posts..." required></textarea>
            <input type="submit" value="submit post">
        </form>
    <%}%>

    <ul>

        <%for(let post of posts){%>
        <li>
            <a href="/profile/<%=post.user._id%>"><%=post.user.name%></a>
            <h2 style="margin-top: 0.92px;margin-bottom: -5.08px;"><%=post.content%></h2>
            <p><%=post.comment.length%><a href="/posts/comment/<%=post._id%>" target="_blank"> comments</a></p>
        </li>
        <br>
        <%}%>

    </ul>

</body>
</html>